<!--<div class="installPage">-->
    <div class="center-header">
        <div class="headerbk">
            <span id="narback" class="logo"></span>
        </div>
        <div class="Login-information">
            <img id="resetPhoto" class="center-logo" src="{{headUrl}}" />
            <span class="login-name fir">{{userName}}</span>
            <!--<progress max="100" value="%"></progress>-->
            <div class="progressBar"><span style="width:{{usedPercent}}"></span></div>
            <span class="login-name">空间容量：{{totalFileSieze}}/{{userPermissionSpace}}</span>
        </div>
    </div>
    <div class="center-content">
        <ul>
            <li id="feedback">
                <img class="img1" src="images/base/m_essage.png" alt="" width="30" height="30" /><span>反馈</span><img class="img2" src="images/base/next_detail.png" alt="" width="20" height="30">
            </li>
            <li id="set">
                <img class="img1" src="images/base/m_setting.png" alt="" width="30" height="30" /><span>设置</span><img class="img2" src="images/base/next_detail.png" alt="" width="20" height="30">
            </li>
        </ul>
        <div id="exitApp" class="logout">退出登陆</div>
    </div>
<!--</div>-->