<div class="contentView width-full" style="width: 100%;">
    <div class="js-workspace-item"></div>
    <div class="leftImg">
        <div ty="{{entityTypeName}}" class="icon40 {{iconType}}" ><span>{{fileName}}</span><img class="{{iconS}}" src="{{keyFramePath}}"></div><!--tmp4       tfile  texe   tmp3  twav  tdoc -->
    </div>
    <div class="rightTitle">
        <span class="fileName">{{name}}</span>
        <span class="fileTime">{{createTime}}</span>
    </div>
    <div class="uploading">
        <div id="floatingCirclesG">
            <div class="f_circleG" id="frotateG_01"></div>
            <div class="f_circleG" id="frotateG_02"></div>
            <div class="f_circleG" id="frotateG_03"></div>
            <div class="f_circleG" id="frotateG_04"></div>
            <div class="f_circleG" id="frotateG_05"></div>
            <div class="f_circleG" id="frotateG_06"></div>
            <div class="f_circleG" id="frotateG_07"></div>
            <div class="f_circleG" id="frotateG_08"></div>
        </div>
    </div>
</div>