<div class="contentView width-full" style="width: 100%;">
    <div class="js-workspace-item"></div>
    <div class="leftImg">
        <div ty="{{entityTypeName}}" class="icon40 {{iconType}}" ><span>{{fileName}}</span><img class="{{iconS}}" src="{{keyFramePath}}"></div><!--tmp4       tfile  texe   tmp3  twav  tdoc -->
    </div>
    <div class="rightTitle">
        <span class="fileName">{{name}}</span>
        <span class="fileTime">{{createTime}}</span>
    </div>
    <div class="upsuccess">
        <div class="successImg"></div>
    </div>
</div>